<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrello</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <header>
        <h1>Carrello</h1>
        <div class="user-info" id="userInfo"></div>
    </header>
    <main>
        <ul id="cartList"></ul>
        <div id="message"></div>
        <button onclick="location.href='/'">Torna alla Homepage</button>
    </main>
    <script src="js/cart.js"></script>
    <script src="js/scripts.js"></script>
</body>
</html> 