<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Utenti</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <header>
        <h1>Lista Utenti Registrati</h1>
        <button onclick="location.href='/'">Torna alla Homepage</button>
    </header>
    <main>
        <ul id="userList"></ul>
        <div id="message"></div>
    </main>
    <script src="js/users.js"></script>
</body>
</html> 